.selectboxit-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
.selectboxit-container * {
    font: 14px 'Roboto',Helvetica, Arial;
    /* Prevents text selection */
    -webkit-touch-callout: none;
    text-transform:none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
    white-space: nowrap;
}
/* Button */
.selectboxit-container .selectboxit {
    width: 180px !important; /* Width of the dropdown button */
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    background:#f7f7f7;
    position: relative;
  }

.selectboxit-container .selectboxit.show-number{
    width:60px !important;	
    top:-5px;
    left:5px;
}
  
/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
    height: 30px; /* Height of the drop down */
    line-height: 30px; /* Vertically positions the drop down text */
    display: block;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
    outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

/* Button Text */
.selectboxit-text {
    text-indent: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.selectboxit .selectboxit-option-icon-container {
    margin-left: 5px;
}

/* Options List */
.selectboxit-container .selectboxit-options {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;  /* Minimum Width of the dropdown list box options */
    *width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    display: none;
    z-index: 9999999999999;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Individual options */
.selectboxit-option .selectboxit-option-anchor{
    padding: 0 1px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
    text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
    text-indent: 5px; /* Horizontal Positioning of the select box option text */
    margin: 0;
    list-style-type: none;
}
