html, body{
	overflow-x:hidden;
}

body{
	background:#7fcae8 url('../img/background.jpg') no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font: 300 16px 'Roboto', Helvetica, Arial, sans-serif;
	line-height:21px;
	color:#596067;
}
.container{
	background: #e0f2f6; /* Old browsers */
	background: -moz-linear-gradient(top, #e0f2f6 82%, #dde3e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(82%,#e0f2f6), color-stop(100%,#dde3e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0f2f6 82%,#dde3e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0f2f6 82%,#dde3e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0f2f6 82%,#dde3e6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e0f2f6 82%,#dde3e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2f6', endColorstr='#dde3e6',GradientType=0 ); /* IE6-9 */
}