html, body{
	overflow-x:hidden;
}

body{
	background:#7fcae8 url('../img/background.jpg') no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font: 300 16px 'Roboto', Helvetica, Arial, sans-serif;
	line-height:21px;
	color:#596067;
}
.container{
	background: #e0f2f6; /* Old browsers */
	background: -moz-linear-gradient(top, #e0f2f6 82%, #dde3e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(82%,#e0f2f6), color-stop(100%,#dde3e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0f2f6 82%,#dde3e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0f2f6 82%,#dde3e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0f2f6 82%,#dde3e6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e0f2f6 82%,#dde3e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2f6', endColorstr='#dde3e6',GradientType=0 ); /* IE6-9 */
}
img{
	max-width:100%;
}

.align-center{
	text-align:center;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

.align-right>small{
	text-align:right;
}

img.align-left{
	float:left;
	margin:10px 20px 10px 0;	
}

img.align-right{
	float:right;
	margin:10px 0 10px 20px;	
}

.no-padding{
	padding:0!important;	
}

.no-margin{
	margin:0!important;	
}

.col-lg-fifth{
	width:20%;
	padding:0 15px;
	float:left;
}

iframe{
	border:none;
}
h1{
	font-size:28px;
	font-weight:300;
}

h2{
	font-size:24px;
	font-weight:300;
}

h3{
	font-size:20px;
	font-weight:300;
}

h4{
	font-size:18px;
	font-weight:300;
}

h5{
	font-size:16px;
	font-weight:300;
}

h6{
	font-size:14px;
	font-weight:300;
}

a{
	color:#1f2228;
	transition:color 0.1s, background 0.2s;
	-webkit-transition:color 0.1s, background 0.2s;
	-moz-transition:color 0.1s, background 0.2s;
	-ms-transition:color 0.1s, background 0.2s;
	-o-transition:color 0.1s, background 0.2s;
}

a:hover{
	color:#3498db;
	text-decoration:none;
}

a:active{
	text-decoration:none;
}

span.green{
	color:#2ecc71;
}

span.red, span.error{
	color:#e74c3c;
}
#top-header{
	background:#fff;
}

#top-header.style2, #top-header.style4, #top-header.style5{
	background:transparent;	
}

#top-header ul{
	list-style:none;
	margin:0;
	padding:5px 10px 8px;
}

#top-header.style2 ul, #top-header.style4 ul, #top-header.style5 ul{
	padding:5px 0;	
}


#top-header li{
	float:left;
	padding:0 10px;
	position:relative;
}

#top-header li:last-child{
	padding-right:0;	
}

#top-header #top-navigation li:after{
	content: '';
    display: block;
	height:10px;
	position:absolute;
	top:7px;
	right:0;
	border-right:1px solid #bdc3c7;
}

#top-header #top-navigation li:last-child:after{
	display:none;
	border:none;
}

#top-header li a{
	color:#1f2228;
	font-size:13px;
	font-weight:300;
	background:transparent!important;
}

#top-header li a:hover{
	color:#3498db;
}

#top-header .icons{
	color:#bdc3c7;	
}

#top-header li.purple:hover>a, #top-header li.purple:hover>a .icons{
	color:#9b59b6;	
}

li.purple:hover .box-dropdown .box-wrapper{
	border-color:#9b59b6;	
}

li.purple .box-dropdown:after{
	border-bottom:10px solid #9b59b6;
}

#top-header a.flag>span{
	display:inline-block;
	margin-right:5px;	
}
#top-header li:hover ul{
	display:block;	
	width:auto;
	height:auto;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
	top:100%;
}
.box-dropdown{
	position:absolute;
	z-index:5000;
	right:0;
	line-height:20px;
	top:200%;
	padding-top:13px !important;
	z-inex:9999;
	overflow:hidden;
	width:0;
	height:0;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.box-dropdown .box-wrapper{
	border-top:3px solid #34495e;
	background:#fff;
	overflow:hidden;
	display:block;
	position:relative;
	padding:10px 15px 15px;
}

.box-dropdown:after{
	content:'';
	width:10px;
	height:10px;
	display:block;
	border-bottom:10px solid #34495e;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	position:absolute;
	right:30px;
	top:5px;
}

.box-dropdown input[type="text"]{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}

.box-dropdown .footer{
	height:70px;
}

.box-dropdown .footer h4{
	margin:10px 0 0;	
}

.box-dropdown a.button{
	display:inline-block;
	vertical-align:middle;
	background:#34495e;
	font-size:14px !important;
	text-transform:uppercase;
	padding:10px 20px;
	color:#fff!important;	
	margin-left:2px;
}

.box-dropdown a{
	font-weight:300;
	font-size:14px;
}

#login-dropdown a.button{
	background:#34495e!important;
}

#login-dropdown a.button:hover{
	background:#2c3e50!important;
}

#login-dropdown .pull-right{
	text-align:right;
}

#login-dropdown .pull-right>a{
	text-align:right;
}

.iconic-input{
	position:relative;	
	margin-bottom:15px;
	width:100%;
}

.box-dropdown h4{
	margin:20px 0;
}

.box-dropdown .iconic-input{
	width:350px;	
}

.iconic-input input[type="text"]{
	width:100%;
	background:#f7f7f7;
	font-size:14px;
}

.iconic-input .icons{
	position:absolute;
	color:#7a8188!important;
	z-inex:9999;
	left:auto!important;
	top:10px!important;
	right:10px!important;
}

.box-dropdown p{
	font-size:13px;	
}

.box-dropdown label{
	padding-left:10px;
	font-size:14px;	
}
.box-dropdown .footer{
	background:#f7f7f7;
	display:block;	
	padding:15px;
	overflow:hidden;
}
#logo{
	padding-top:15px;
	padding-left:30px;
}

#main-header{
	padding-top:30px;
	padding-bottom:30px;
}

#main-header.style2, #main-header.style4{
	padding-top:10px;	
}

#middle-navigation ul{
	list-style:none;
	margin:0;
	padding:0;
}

#middle-navigation li{
	float:left;
	margin-left:1px;
	position:relative;
}

#middle-navigation>ul>li>a{
	width:70px;
	height:70px;
	display:block;
	background:#34495e;
	color:#fff;
	text-align:center;
	padding:10px 0;
	font-size:13px;
}

#middle-navigation>ul>li>a:hover{
	background:#2c3e50;
}

#middle-navigation .icons{
	font-size:18px;
	display:block;
	color:#fff;
	margin-bottom:5px;
}

#middle-navigation>ul>li:hover ul{
	display:block;	
	width:auto;
	height:auto;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-opacity:1;
	-o-opacity:1;
	top:100%;
}

#middle-navigation .box-dropdown:after{
	right:10px;
}

#middle-navigation .login-create{
	background:#fff;
	color:#7a8188;
	font-size:14px;
	height:70px;	
	position:relative;
	padding:15px;
	padding-left:50px;
}

#middle-navigation .login-create>a{
	color:#1f2228;	
}

#middle-navigation .login-create>a:hover{
	background:none;
}

#middle-navigation .login-create>p>a:hover{
	color:#9b59b6;
}


#middle-navigation .login-create .icons{
	position:absolute;
	left:15px;
	top:20px;	
	color:#9b59b6;
}

#middle-navigation .login-create p{
	margin:0;	
}

#middle-navigation a.flag>span{
	margin:5px auto 9px;
	height:12px;
	display:block;	
}

.flag span{
	width:19px;
	height:12px;
	background:url('../img/language-icons.png') no-repeat;
	margin-right:5px;
	display:block;
}


.currency-table, .language-table{
	margin:5px 0;
}

.language-table a{
	font-size:13px;	
	color:#7a8188;
}

.language-table td.flag{
	vertical-align:middle;	
	padding:2px 0 2px 8px;	
}

.language-table td.country{
	vertical-align:middle;	
	padding:2px 8px 2px 5px;	
}

.language-table tr:hover, .currency-table tr:hover{
	background:#f7f7f7;	
}

.language-table tr:hover a, .currency-table tr:hover a{
	color:#1f2228;	
}

span.english-flag{
	background-position:0 0;	
}

span.german-flag{
	background-position:-19px 0;	
}

span.french-flag{
	background-position:-38px 0;	
}

span.italian-flag{
	background-position:-57px 0;	
}

span.spanish-flag{
	background-position:-75px 0;	
}

.currency-table td{
	padding:2px 10px!important;
	white-space:nowrap;	
	font-size:13px;
}

.cart-table{
	width:350px;
	font-size:13px;	
}

.cart-table td{
	padding:10px 0;
}

.cart-table img{
	width:60px;	
}

.cart-table p{
	font-size:13px;
	color:#7a8188;	
	margin:0;
}

span.light{
	color:#7a8188;		
}

span.quantity{
	font-size:13px;
	display:block;	
	margin-bottom:10px;
}

.checkout-table td{
	padding:5px;	
}

.cart-table h6{
	font-size:14px;	
	margin:0;
}

.no-border{
	border:none!important;	
}
#main-navigation{
	position:relative;
}

#main-navigation>ul, #main-navigation>ul>li>ul, #main-navigation>ul>li>ul>li>ul, #main-navigation>ul>li>ul>li>ul>li>ul{
	list-style:none;
	margin:0;
	padding:0;
	display:table;
	width:100%;
}

#main-navigation>ul{
	table-layout:fixed;
}

#main-navigation>ul>li{
	border-right:1px solid #e2f6f9;
	display:table-cell;
	background:#34495e;
}

#main-navigation>ul>li:hover>a>.icons{
	left:0px;
}

#main-navigation>ul>li>a{
	padding:5px 20px 13px;
	background:#34495e;
	color:#fff;
	display:block;
}

#main-navigation>ul>li>a .nav-caption{
	margin-top:15px;
}

#main-navigation.style2>ul>li>a .nav-caption,
#main-navigation.style3>ul>li>a .nav-caption,
#main-navigation.style5>ul>li>a .nav-caption{
	margin-top:5px;
}

span.nav-caption{
	display:block;
	font-size:18px;
	text-transform:uppercase;
}

span.nav-description{
	display:block;
	font-size:14px;
}

#main-navigation>ul>li>a .icons{
	font-size:18px;
	display:block;
	color:#fff;
	text-align:right;
	margin-bottom:5px;
	position:relative;
	left:10px;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
}

#main-navigation.style1>ul>li:hover>a,
#main-navigation.style1>ul>li:hover,
#main-navigation.style1>ul>li.current-item,
#main-navigation.style1>ul>li.current-item>a{
	background:#34495e!important;
}

#main-navigation.style2>ul>li>a{
	padding:15px 20px;	
}

#main-navigation.style2>ul>li:hover>a,
#main-navigation.style2>ul>li:hover,
#main-navigation.style2>ul>li.current-item,
#main-navigation.style2>ul>li.current-item>a{
	background:#34495e!important;
}

#main-navigation.style3>ul>li>a{
	padding:15px 20px;	
	background:#34495e!important;
}

#main-navigation.style4>ul>li>a{
	background:#34495e!important;
}

#main-navigation.style3>ul>li>a:hover, #main-navigation.style3>ul>li.current-item>a{
	background:inherit!important;
}

#main-navigation.style4>ul>li>a:hover, #main-navigation.style4>ul>li.current-item>a{
	background:inherit!important;
}

#main-navigation.style5>ul>li>a{
	padding:15px 20px;	
}

#main-navigation.style5>ul>li:hover>a,
#main-navigation.style5>ul>li:hover,
#main-navigation.style5>ul>li.current-item,
#main-navigation.style5>ul>li.current-item>a{
	background:#34495e!important;
}	

#main-navigation.style6>ul>li>a{
	padding:15px 20px;	
	background:#34495e!important;
}

#main-navigation.style6>ul>li>a:hover, #main-navigation.style6>ul>li.current-item>a{
	background:inherit!important;
}

#main-navigation li ul.normal-dropdown{
	color:#fff;
	padding:1px 0 0 0;
	position:absolute;
	overflow:visible;
	z-index:9999;
	width:200px;
	display:none;
}

#main-navigation li ul.normal-dropdown li{
	background:#1abc9c;
	position:relative;
	display:block;
}

#main-navigation li ul.normal-dropdown li:first-child{
	padding-top:12px;
}

#main-navigation li ul.normal-dropdown li:last-child{
	padding-bottom:12px;
}

#main-navigation li ul.normal-dropdown a{
	padding:8px 20px;
	color:#fff;
	display:block;
}

#main-navigation li ul.normal-dropdown li:hover>a{
	background:#16a085;
}

#main-navigation li ul.normal-dropdown li ul{
	position:absolute;
	left:100%;
	top:-12px;
	padding-top:0;
	padding-left:1px;
	color:#fff;
	z-index:9999;
	display:none;
}

/*#main-navigation li ul.normal-dropdown li:hover ul{
	display:block;
}*/

#main-navigation li ul.normal-dropdown li:first-child ul{
	top:0;
	z-index:9999;
}

#main-navigation li:hover>ul.normalAnimation, #main-navigation ul.normal-dropdown li:hover > ul.normalAnimation{
	display:block;
}

#main-navigation ul.wide-dropdown{
	display:none;
	z-index:9999;
	border-top:1px solid #e5f5f9;
	padding-top:1px;
	width:auto;
	overflow:hidden;
	position:absolute;
}

#main-navigation ul.wide-dropdown>li{
	float:left;
	min-width:300px;
	padding:16px 0;
}

#main-navigation ul.wide-dropdown ul a, #main-navigation ul.wide-dropdown .nav-caption{
	padding:8px 20px;
	display:block;
	color:#fff;
}

#main-navigation>ul>li>ul.normal-dropdown .icons{
	font-size:16px;
	display:inline-block;
	color:#fff;
	position:relative;
	left:10px;
	float:right;
}

#main-navigation li.home-green>a, #main-navigation .home-green ul.wide-dropdown, #main-navigation li.home-green{
	background:#1abc9c;
}

#main-navigation li.red>a, #main-navigation .red ul.wide-dropdown, #main-navigation li.red{
	background:#e74c3c;
}

#main-navigation li.blue>a, #main-navigation .blue ul.wide-dropdown, #main-navigation li.blue{
	background:#3498db;
}

#main-navigation li.orange>a, #main-navigation .orange ul.wide-dropdown, #main-navigation li.orange{
	background:#f5791f;
}

#main-navigation li.green>a, #main-navigation .green ul.wide-dropdown, #main-navigation li.green{
	background:#2ecc71;
}

#main-navigation li.purple>a, #main-navigation .purple ul.wide-dropdown, #main-navigation li.purple{
	background:#9b59b6;
}
