*===================================================================================*/
/*  OWL CAROUSEL
/*===================================================================================*/
#owl-main {
  text-align: center;
  cursor: default;
  height:368px;
}
#owl-main .owl-controls {
  display: inline-block;
  position: relative;
  margin-top: 40px;
}
#owl-main .owl-pagination {
    position: relative;
    line-height: 30px;
  }
#owl-main .owl-buttons {
    display:block;
 }


 #owl-main .owl-prev,
#owl-main .owl-next {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 50px;
  font-size: 21px;
  background-color: #f2f2f2;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: auto;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0;
}

#owl-main .owl-prev {
    left:20px;/* -35px;*/
  }
  #owl-main .owl-next {
    right: 20px;
  }
  #owl-main:hover .owl-prev {
    left: 0px;
    opacity: 0.5;
  }
  #owl-main:hover .owl-next {
    right: 0px;
    opacity:0.5;
  }
  #owl-main:hover .owl-prev:hover,
  #owl-main:hover .owl-next:hover {
    opacity: 1;
  }
  #owl-main .owl-outer-nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 100%;
    z-index: 0;
  }
  #owl-main .owl-outer-nav .owl-wrapper-outer,
  #owl-main .owl-outer-nav .owl-pagination,
  #owl-main .owl-outer-nav .owl-prev,
  #owl-main .owl-outer-nav .owl-next {
    z-index: 1;
  }
  #owl-main .owl-outer-nav .owl-controls {
    position: static;
  }
  #owl-main .owl-outer-nav .owl-prev {
    left: -65px;
  }
  #owl-main .owl-outer-nav .owl-next {
    right: -65px;
  }
  #owl-main .owl-outer-nav:hover .owl-prev {
    left: -80px;
  }
  #owl-main .owl-outer-nav:hover .owl-next {
    right: -80px;
  }
  owl-main .owl-ui-md .owl-pagination {
    line-height: 45px;
  }
  #owl-main .owl-ui-md .owl-prev,
  #owl-main .owl-ui-md .owl-next {
    width: 45px;
    height: 45px;
    font-size: 45px;
  }
  #owl-main .owl-ui-md .owl-prev {
    left: -55px;
  }
  #owl-main .owl-ui-md .owl-next {
    right: -55px;
  }
  #owl-main .owl-ui-md:hover .owl-prev {
    left: -60px;
  }
  #owl-main .owl-ui-md:hover .owl-next {
    right: -60px;
  }
  #owl-main .owl-outer-nav.owl-ui-md:after {
    left: -18%;
    width: 136%;
  }
  #owl-main .owl-outer-nav.owl-ui-md .owl-prev {
    left: -85px;
  }
  #owl-main .owl-outer-nav.owl-ui-md .owl-next {
    right: -85px;
  }