*===================================================================================*/
/*  OWL CAROUSEL
/*===================================================================================*/
#owl-main {
  text-align: center;
  cursor: default;
  height:368px;
}
#owl-main .owl-controls {
  display: inline-block;
  position: relative;
  margin-top: 40px;
}
#owl-main .owl-pagination {
    position: relative;
    line-height: 30px;
  }
#owl-main .owl-buttons {
    display:block;
 }