*===================================================================================*/
/*  OWL CAROUSEL
/*===================================================================================*/
#owl-main {
  text-align: center;
  cursor: default;
  height:368px;
}
#owl-main .owl-controls {
  display: inline-block;
  position: relative;
  margin-top: 40px;
}