.blog-page {
    .blog-post {
        h1 {
            font-family: 'FjallaOneRegular';
            font-size: 25px;
            text-transform: uppercase;
            
            a{
              color: #555;
            }
        }
        span {
            padding-right: 20px;
            color: #aaa;
            font-size: 13px;
        }
        p {
            padding-top: 16px;
            text-align: justify;
            font-size: 13px;
            color:@text-color;
            margin-bottom:0px;
        }
        a {
            margin-top: 10px;
        }
        .blog-pagination {
            .pagination {
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
        }